# Python
*/__pycache__
*.pyc
*.egg-info/
*.log
*.p
.venv/

# JS
node_modules/
.pnp/
.pnp.js

# testing
coverage/

# production
build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache

npm-debug.log*
.vscode/

target/
soze_state.json

