[Unit]
Description=Case LED/LCD control server

[Service]
Type=simple
Requires=ccd
ExecStart=/usr/local/bin/ccs /etc/cc

[Install]
WantedBy=multi-user.target
