[Unit]
Description=Söze: Case LED/LCD control server
Wants=sozed.service

[Service]
Type=simple
ExecStart=/usr/local/bin/sozes /etc/soze

[Install]
WantedBy=multi-user.target
